@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
.wrapper .grid_cont {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "heade" "mai" "foote";
}
.wrapper .heade {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(15px, 58px);
  -ms-grid-columns: minmax(15px, 1fr);
      grid-template: minmax(15px, 58px)/minmax(15px, 1fr);
  background-color: #FFEFFD;
}
.wrapper .heade_lin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15px, 1fr);
  grid-template-columns: minmax(15px, 1fr);
}
.wrapper .heade_lin .heade_log {
  color: #000000;
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 37px;
  font-style: normal;
  font-family: "Teko", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 7px;
}
@media (max-width: 1024px) {
  .wrapper .heade_lin .heade_log {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media (max-width: 768px) {
  .wrapper .heade_lin .heade_log {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.wrapper .heade_lin .na {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15px, 1fr);
  grid-template-columns: minmax(15px, 1fr);
  -ms-grid-column-align: start;
      justify-self: start;
  background-color: darkblue;
}
.wrapper .heade_lin .na .u {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15px, 97px) 15px minmax(15px, 97px) 15px minmax(15px, 97px) 15px minmax(15px, 97px) 15px minmax(15px, 97px);
  grid-template-columns: minmax(15px, 97px) minmax(15px, 97px) minmax(15px, 97px) minmax(15px, 97px) minmax(15px, 97px);
  -ms-grid-rows: minmax(15px, 31px);
  grid-template-rows: minmax(15px, 31px);
      grid-template-areas: "home lists price about butto";
  grid-column-gap: 15px;
}
.wrapper .heade_lin .na .u .l_5 {
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  background-color: transparent;
  border: 1px solid #A52298;
  width: 97px;
  border-radius: 5px;
}
.wrapper .heade_lin .na .u .l_1, .wrapper .heade_lin .na .u .l_2, .wrapper .heade_lin .na .u .l_3, .wrapper .heade_lin .na .u .l_4 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  list-style: none;
  color: white;
  border: 1.5px dashed black;
  background-color: darkgreen;
}
.wrapper .heade_lin .na .u .l_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home;
}
.wrapper .heade_lin .na .u .l_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: lists;
}
.wrapper .heade_lin .na .u .l_3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: price;
}
.wrapper .heade_lin .na .u .l_4 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: about;
}
.wrapper .heade_lin .na .u .ico_svg9 {
  color: white;
}