.foote {
    display: grid;
    grid-template-columns: minmax(15px, 1fr);
    grid-template-rows: minmax(15px, 1fr);
    margin-top: 30px;
    border: 1px solid #C4C4C4;
    .foote_wrappe {
        display: grid;
        grid-template-columns: minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px) minmax(15px, 150px);
        grid-template-areas: "blo_nm1 blo_nm2"
                              "blo_nm3 blo_nm4 blo_nm5 blo_nm6 blo_nm7"
                              "blo_ln1 blo_ln2 blo_ln3";
        justify-self: start;
        align-self: start;
        .foote_log {
            grid-area: blo_nm1;
            margin-top: -190px;
            font-style: normal;
            font-size: 27px;
            font-family: "Teko", sans-serif;
            margin-left: -1328px;
        }
        .foote_rul {
            grid-area: blo_nm2;
            margin-left: -1328px;
            font-style: normal;
            font-family: "STIX Two Text", sans-serif;
            font-size: 15px;
            margin-top: -9px;

        }

        .foote_u_1_1 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 141px;
            .foote_l_1_1, .foote_l_2_1, .foote_l_3_1, .foote_l_4_1, .foote_l_5_1, .foote_l_6_1 {
            }
            .foote_l_1_1 {
                position: relative;
                list-style: none;
                font-style: bold;
                cursor: pointer;
                font-size: 17px;
                color: #1D1D1D;
                font-family: "Ruda", sans-serif;
                transition: 0.5s;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_1 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_1 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_1 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_1 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                cursor: pointer;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_1 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_1_2 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 225px;
            .foote_l_1_2, .foote_l_2_2, .foote_l_3_2, .foote_l_4_2, .foote_l_5_2, .foote_l_6_2 {
            }
            .foote_l_1_2 {
                list-style: none;
                font-style: bold;
                font-size: 17px;
                cursor: pointer;
                color: #1D1D1D;
                font-family: "Ruda", sans-serif;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_2 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_2 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_2 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_2 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_2 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                cursor: pointer;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_1_3 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 288px;
            .foote_l_1_3, .foote_l_2_3, .foote_l_3_3, .foote_l_4_3, .foote_l_5_3, .foote_l_6_3 {
            }
            .foote_l_1_3 {
                list-style: none;
                font-style: bold;
                cursor: pointer;
                font-size: 17px;
                color: #1D1D1D;
                font-family: "Ruda", sans-serif;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_3 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_3 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_3 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_3 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_3 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_1_4 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 343px;
            .foote_l_1_4, .foote_l_2_4, .foote_l_3_4, .foote_l_4_4, .foote_l_5_4, .foote_l_6_4 {
            }
            .foote_l_1_4 {
                list-style: none;
                font-style: bold;
                font-size: 17px;
                color: #1D1D1D;
                cursor: pointer;
                font-family: "Ruda", sans-serif;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_4 {
                list-style: none;
                cursor: pointer;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_4 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_4 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                cursor: pointer;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_4 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_4 {
                list-style: none;
                cursor: pointer;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_1_5 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 375px;
            .foote_l_1_5, .foote_l_2_5, .foote_l_3_5, .foote_l_4_5, .foote_l_5_5, .foote_l_6_5 {
            }
            .foote_l_1_5 {
                list-style: none;
                font-style: bold;
                cursor: pointer;
                font-size: 17px;
                color: #1D1D1D;
                font-family: "Ruda", sans-serif;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_5 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_5 {
                list-style: none;
                font-size: 15px;
                font-style: normal;
                cursor: pointer;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_5 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_5 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_5 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_1_6 {
            display: grid;
            grid-template-columns: minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px) minmax(15px, 28px);
            margin-left: 425px;
            .foote_l_1_6, .foote_l_2_6, .foote_l_3_6, .foote_l_4_6, .foote_l_5_6, .foote_l_6_6 {
            }
            .foote_l_1_6 {
                list-style: none;
                font-style: bold;
                font-size: 17px;
                cursor: pointer;
                color: #1D1D1D;
                font-family: "Ruda", sans-serif;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_2_6 {
                list-style: none;
                cursor: pointer;
                font-size: 15px;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
                
            }

            .foote_l_3_6 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_4_6 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_5_6 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }

            .foote_l_6_6 {
                list-style: none;
                font-size: 15px;
                cursor: pointer;
                font-style: normal;
                font-family: "Inter", sans-serif;
                color: #1D1D1D;
                &::after {
                    content: " ";
                    position: absolute;
                    cursor: pointer;
                    width: 0px;
                    height: 3px;
                    border-radius: 355px;
                    background-color: black;
                    transition: 0.5s;
                }
                &:hover::after {
                    cursor: pointer;
                    width: 65px;
                }
            }
        }

        .foote_u_2_7 {
            display: grid;
            grid-template-columns: minmax(15px, 142px) minmax(15px, 142px) minmax(15px, 142px) minmax(15px, 142px);
            grid-template-rows: minmax(15px, 28px);
            grid-template-areas: "foo_te1 foo_te2 foo_te3 foo_te4";
            grid-column-gap: 129px;
            justify-self: end;
            align-self: end;
            margin-bottom: -21px;
            .foote_2_1_7 {
                list-style: none;
                cursor: pointer;
                font-style: normal;
                font-size: 15px;
                font-family: "STIX Two Text", sans-serif;
                color: #3E3E3E;
            }

            .foote_2_2_7 {
                list-style: none;
                cursor: pointer;
                font-style: normal;
                font-size: 15px;
                color: #3E3E3E;
            }

            .foote_2_3_7 {
                list-style: none;
                cursor: pointer;
                font-style: normal;
                font-size: 15px;
                color: #3E3E3E;
            }

            .foote_2_4_7 {
                list-style: none;
                font-style: normal;
                cursor: pointer;
                font-size: 15px;
                color: #3E3E3E;
            }
        }
    }
}